@tailwind base;
@tailwind components;
@tailwind utilities;


#root {
  padding: 0;
  margin: 0;
}

.header-bg {
  background-image: url('/assets/images/header-bg.png');
}

.star-outline-color {
  color: #FBE3E2;
}