@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-image: url('/assets/images/bg.png');
}

#root {
  padding: 0;
  margin: 0;
}

.header-bg {
  background-image: url('/assets/images/header-bg.png');
}

.star-outline-color {
  color: #FBE3E2;
}

.customRadio{
  background-color: #EF372B !important;
}

input[type="radio"]:checked {
  background-color: #EF372B
}

.bg-red-custom {
  background-color: #EF372B;
}